.Weather {
  font-family: "Lato", sans-serif;
  background: linear-gradient(
    346deg,
    rgba(228, 196, 114, 1) 0%,
    rgba(235, 219, 190, 1) 35%,
    rgba(229, 133, 193, 1) 100%
  );
  border: 1px solid #dadde1;
  padding: 16px;
  color: rgb(135, 135, 135);
  box-shadow: 5px 5px 15px #234685;
  border-radius: 20px;
}
.Weather .row {
  margin: 2px 0 10px 0;
}

.Weather form {
  margin-bottom: 60px 0 0 0;
}
.Weather h1 {
  font-size: 29px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 25px 0 0 0px;
  line-height: 29px;
  color: #234685;
}
.Weather h2 {
  margin-top: 10px;
}
.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 12px;
  font-weight: 300;
  line-height: 19px;
  list-style: none;
  color: #234685;
}
.Weather canvas {
  margin-top: 5px;
  margin-right: 5px;
  display: inline-block;
}

.Weather .temperature {
  font-weight: bold;
  color: #234685;
  font-size: 60px;
  line-height: 95px;
  margin-left: 10px;
}
.Weather .unit {
  color: #234685;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -25px;
}
.Weather .Parameters {
  margin-top: 20px;
}
.WeatherInfo {
  color: #234685;
}
.Weather .btn-primary-search {
  background-color: #234685;
  border-radius: 6px;
  color: #dadde1;
  font-weight: bold;
  text-transform: uppercase;
}
.Weather .btn-primary-search:hover {
  background-color: #e588c1;
  box-shadow: 5px 5px 15px #234685;
  color: #234685;
}
